.header {
    max-width: 850px;
    margin: auto;
    display: grid;
    grid-template-columns: auto 1fr;
    background-color: red;
    align-items: center;
    grid-gap: 20px;
    padding: 10px;

    &__search {
        width: 200px;
        background-color: $primary-color;
        border: 1px solid grey;
    }
}
